* {
    background-color: coral;
}

#letters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    color: blueviolet;
}

button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 0;
    border-color: blue;
}

#text {
    display : flex;
    
}